@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
header {
  margin: 20px 50px;
}
table {
  width: 100%;
  height: 40px;
  border: 1px solid #666;
  padding: 0px;
  border-spacing: 0px;
  color: #666;
}
.Home {
  width: 30px;
}
.about__us {
  width: 105px;
}
.new {
  width: 70px;
  position: relative;
}
.Port {
  width: 100px;
}
.blog {
  width: 60px;
}
.Contact {
  width: 60px;
}
.header td {
  font-size: 12px;
  margin: 3px;
  padding: 3px;
  border: 1px solid #666;
  list-style-type: none;
  text-align: center;
}
td .box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header td:hover .box {
  background-color: #2da5da;
  color: aliceblue;
}
.header .new:hover .sub {
  background-color: aliceblue;
  color: 666;
  display: block;
}
.sub {
  position: absolute;
  min-width: 200%;
  top: 100%;
  left: 0px;
  display: none;
  margin-top: 10px;
}
.sub .content__sub {
  list-style-type: none;
  background-color: #fff;
  padding: 0px;
  margin: 0;
  display: block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.sub::before {
  position: absolute;
  content: "";
  display: inline-block;
  margin-left: -70px;
  margin-top: -4px;
  border-top: 0px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
.sub .content__sub li {
  border-bottom: 1px solid #666;
  align-items: flex-start;
  padding: 10px 3px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  text-align: left;
}
.sub .content__sub li:last-child {
  border: none;
}
.fa-solid {
  font-size: 14px;
  margin: 0px 5px;
}
