body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #ff5e19;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.Notification {
  background-color: #ff5e19;
  color: #fff;
  min-width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 8px;
}
.thong-bao {
  background-color: red;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 8px;
}
