*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

html{
    font-size: 10px;
}
body{
    color: $textColor;
    font-size: $fontSize;
    font-family: $fonts;
    line-height: 1.25;
}

img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: $linkColor;
    &:hover{
        color: $primaryColor;
    }
}
h1,h2,h3,h4,h5,h6{
    color: $headerColor;
}
ul,ol{
    list-style: none;
}
button{
    cursor: pointer;
}