$primaryColor:#46B20F;
$colorBackground:#DCFFCA;
$secondaryColor:#FF6916;
$colorLightPink:#fff0e7;
$colorDarkPink:#ffba94;
$colorLightGreen:#c5ffa8;
$textColor: #2C2C2C;
$fonts: 'Inter', sans-serif;
$fontSize:1.6rem; //1rem = 10px
$linkColor:#2c2c2c;
$headerColor:#2c2c2c;
$colorHr:#A3A3A3;
$colorTextP:#656565;
$colorTitleChopsticks:#e05000;
$colorBorder:#A3A3A3;
$colorFooter:#f2ffec;