@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

html{
    font-size: 10px;
}
body{
    font-size:1.6rem ;
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color:#222 ;
    font-size: 1.4rem;
}
ul,ol{
    list-style: none;
}
button,input{
    cursor: pointer;
}