* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px 10px 20px;
  margin-bottom: 20px;
}
.list-content .loading {
  text-align: center;
  margin-bottom: 10px;
}
