.header{
    box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px rgba(0, 0, 0, 0.15);
    .menu-toggle{
        display: none;
    }
    .logo{
        max-height: 77.8px;
        img{
            max-height: 100%;
            width: auto;
        }
    }
    .header-nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        .menu{
            ul{
                display: flex;
                li{
                    padding: 0 25px;
                    a{
                        font-weight: 400;
                        padding-bottom: 27px;
                    }
                    &.active{
                        a{
                            color: $primaryColor;
                            border-bottom: 1.667px solid $primaryColor;
                        }
                    }
                    &:hover{
                        @extend .active;
                    }
                }
            }
        }
        .cart-icon{
            padding: 0 25px;
            a{
                position: relative;
                display: inline-block;
                span{
                    position: absolute;
                    top: -5px;
                    right: -6px;
                    background-color: $secondaryColor;
                    color: #fff;
                    padding: 0 4px;
                    border-radius: 50%;
                    font-size: 1.3rem;
                }
            }
        }
        .search-icon{
            padding-left:25px ;
        }

    }
}
@media screen and (max-width:991.98px) {
    .header{
        
        .menu-toggle{
            display: block;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            label{
                font-size: 3.5rem;
            }
        }
        .logo{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header-nav{
            input[type="checkbox"]{
                &:checked{
                    ~ .menu{
                        translate: 0;
                    }
                    ~ .menu-overlay{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .menu-overlay{
                position: fixed;
                inset: 0;
                background-color: #cccccc8b;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition-property: visibility , opacity;
                transition: 0.5s ease;
            }
            .menu{
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                padding: 20px 0;
                min-width: 250px;
                background-color: $primaryColor;
                translate: -100%;
                transition: translate 0.5s ease;
                z-index: 2;
                ul{
                    display: block;
                    li{
                        a{
                            color: #fff !important;
                            border: 0 !important;
                            display: block;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
}